*,
::before,
::after {
    box-sizing: border-box;
}

.inputElements {
    display: flex; 
    justify-content: flex-start;
}

.operations {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.digits {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 80%;
}

.allContainer {
    width: 390px;
    height: 500px;
}

#display {
    width: 100%;
    height: 10%;
}

.digits button,
.oper,
.dot,
#equals,
#clear {
    width: 80px;
    height: 80px;
}

.upperBtns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    width: 100%;
}

.zero {
    flex-grow: 1;
}

